@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">


    <div class="container">
        <div class="row ">
            <div class="col col-lg-2">
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-2">
            </div>
        </div>

        <div class="row">
            <div class="col-3 descParkMe ">
                <p class="mt-5 text-justify display-4 font-weight-bolder text-primary">
                    Park Me
                </p>
                <p class="text-break text-justify fs-6 font-weight-normal text-secondary">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                </p>
                <div class="mt-5 justify-content-center">
                    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/Login"><button type="button" class="btn btn-primary btn-lg mr-5">Sign In</button></a>
                    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/Register"><button type="button" class="btn btn-outline-secondary btn-lg mr-5">Sign Up</button></a>
                </div>
            </div>
            <div class="col-7 mt-5">
                <img src="/assets/3801.jpg" alt="Alternate Text" class="rounded float-left mt-lg-5 parkingImage" width="700" />
            </div>

        </div>
    </div>


</div>
